/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 430px;
    height: 90px; /* Ví dụ: 10% của 932px = ~93px */
    background-color: rgb(180, 109, 2);
  
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    .h-logo{
      width: 10vh;
    }
  }
      
  .body{
    position: absolute;
    top: 5px;
    flex: 1;
    overflow-y: auto;
    width: 100%;
    height: 752px;
    padding: 16px;
       &::-webkit-scrollbar {
        display: none;
    }

    /* Ẩn scrollbar trên Firefox */
    scrollbar-width: none;

    /* Ẩn scrollbar trên IE, Edge cũ */
    -ms-overflow-style: none;

   .b-quanly{
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* khoảng cách giữa các item */
      .b-quanly-item {
        display: flex;
        flex-direction: column;
        width: 121px;
        height: 100px;
        background-color: rgba(243, 242, 241, 0.954);
        align-items: center;
        justify-content: center;
        border-radius: 10px;
      i{
        font-size: 2rem;
      }
      .color-red{
      
        color: red;
      }
      .color-blue{
      
        color: rgb(9, 202, 198);
      }
      .color-orange{
      
        color: rgb(255, 136, 0);
      }
      .color-green{
      
        color: rgb(50, 137, 3);
      }
      .color-puble{
      
        color: rgb(130, 14, 168);
      }
      h3{
        font-size: 1rem;
        color: #585757;
      }
    
    }
   }
  
   .b-donhang{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      overflow-y: auto;
         &::-webkit-scrollbar {
        display: none;
    }

    /* Ẩn scrollbar trên Firefox */
    scrollbar-width: none;

    /* Ẩn scrollbar trên IE, Edge cũ */
    -ms-overflow-style: none;
      input {
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 16px;
        outline: none;
        transition: border-color 0.2s;
        width: 100%;
      }
      input:focus {
        border-color: rgb(180, 109, 2);
      }

      .b-donhang-timkiem {
        display: flex;
        gap: 12px;
        align-items: center;
        margin-bottom: 16px;
      }
      
      .b-donhang-timkiem input,
      .b-donhang-timkiem select {
        padding: 8px;
        font-size: 16px;
        border-radius: 6px;
        border: 1px solid #ccc;
      }
      
      .b-donhang-timkiem input {
        flex: 1;
      }
      
      .b-donhang-timkiem select {
        width: 150px;
      }

      .b-donhang-wapper{
        display: flex;
        flex-wrap: wrap;
        gap: 16px; 
        align-items: flex-start;
        height: 200px;
        
     
        margin-top: 10px;
        .b-donhang-bannhanh ,.b-donhang-them,.b-donhang-item {
          display: flex;
          flex-direction: column;
          width: 121px;
          min-height: 100px; /* dùng min-height thay vì height */
          background-color: rgba(243, 242, 241, 0.954);
          align-items: center;
          justify-content: center;
          overflow: hidden;
          border-radius: 10px;
          position: relative;
          
        }
        .b-donhang-bannhanh i{
          font-size: 2rem;
          color: rgb(0, 132, 255);
        }
        .b-donhang-bannhanh h3{
          font-size: 1rem;
          color: rgb(0, 132, 255);
        }
        .b-donhang-them i{
          font-size: 2rem;
          color: rgb(66, 153, 8);
        }
        .b-donhang-them h3{
          font-size: 0.8rem;
          color: rgb(66, 153, 8);
        }
       
        .b-donhang-item img{
          width: 100px;            /* chiếm toàn bộ chiều ngang */
          height: 60px;           /* chiếm 50% chiều cao */
          object-fit: cover;         /* ảnh fill khung và crop nếu cần */
          border-radius: 10px;  /* nếu muốn bo góc */
        }
        .b-donhang-item h3{
          padding-left: 10px;
          margin: 0;
          font-size: 0.9rem;
          text-align: center;
          white-space: nowrap;        /* Không xuống dòng */
          overflow: hidden;           /* Ẩn phần vượt quá */
          text-overflow: ellipsis;    /* Hiện dấu "..." */
          width: 100%;
          color: #585757;
        }
        
      }
      
   }
   .add-product-overlay {
    position: absolute;     /* hoặc fixed nếu muốn che toàn màn hình */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;      /* hoặc rgba(0,0,0,0.05) nếu muốn mờ */
    z-index: 999;
    padding: 16px;
    border-radius: 10px;
   
    
  }
  .add-product-form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(243, 242, 242);
    padding: 20px;
    box-sizing: border-box;
    z-index: 1000;
    display: flex;
    flex-direction: column;

  }
  .category-select-row {
    display: flex;
    align-items: center;
  
/*    background-color: red; */
  
    
  }
  
  .category-label {
    font-weight: bold;
    width: 80px; /* Cố định độ rộng bên trái */

    
  }
  .category-select {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    width: 73%;
    margin-left: 10px;
  }

 


  
  
  .category-manage {
    display: flex;
    gap: 8px;
    margin-top: 12px;
  }
  
  .category-manage input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  .category-manage button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 1px 1px 0px 0px #333;
    height: 43px;
  }
  
  .category-manage button:hover {
    background-color: #0056b3;
    box-shadow: 1px 1px 0px 0px #333;
  }
  
  .category-list {
    display: flex;
    gap: 8px;
    overflow-x: auto;
    padding: 8px 0;
    white-space: nowrap;
      &::-webkit-scrollbar {
        display: none;
    }

    /* Ẩn scrollbar trên Firefox */
    scrollbar-width: none;

    /* Ẩn scrollbar trên IE, Edge cũ */
    -ms-overflow-style: none;
  }
  
  .category-list li {
    position: relative;
    flex: 0 0 auto; /* Giữ mỗi item có chiều rộng riêng, không co lại */
    background-color: #ece4e4;
    padding: 6px 12px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 0px 0px #333;
    gap: 6px;
  }
  
  .category-list li button {
    position: absolute;
    top: -10px;
    right: -10px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: red;
    font-size: 1.5rem;
  
  
    
  }
  /* page don hang */
  .page-donhang{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    .dh-filter-wapper{
 /*    overflow-x: auto; */

    display: flex;
    justify-content: space-between;
   
   
      height: 40px;
      .dh-select-day,
      .dh-select-status
      {
        padding: 8px;
        font-size: 16px;
        border-radius: 16px;
        border: 1px solid #ccc;
        text-align: center;
      }

      
    }
    .item-donhang{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 120px;
      background-color: gainsboro;
      border-radius: 5px;
      margin-top: 10px;
      box-shadow: 1px 1px 0px 0px rgba(83, 82, 82, 0.658);
      .item-donhang-name{
        display: flex;
        justify-content: space-between;
        padding: 10px;
      }
      .item-donhang-date{
        display: flex;
        justify-content: space-between;
         padding-left: 10px;
         padding-right: 10px;
         padding-bottom: 10px;
         width: 100%;
         
      }
      .item-donhang-bottom{
        display: flex;
        flex-direction: column;
        .item-donhang-tong{
          display: flex;
          justify-content: space-between;
         padding: 0px 10px 10px 10px;

        }
      }
     
    }


   
  }


/*   detail Don hang */
.detail-container {
  padding: 10px;
  overflow-y: auto;
  margin: 20px auto;
  background-color: #f9f9f9;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.btn-back-detail {
  display: inline-block;
  margin-bottom: 24px;
  padding: 10px 20px;
  background-color: #e0e0e0;
  color: #333;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-back-detail:hover {
  background-color: #d5d5d5;
}

.detail-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 24px;
}

.detail-info {
  background-color: #ffffffcf;
  padding: 16px;
  border-radius: 8px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
}

.detail-info p {
  font-size: 16px;
  margin: 12px 0;
  color: #555;
}

.label {
  font-weight: bold;
  color: #222;
  display: inline-block;
  min-width: 140px;
}

.btn-pay {
  margin-top: 32px;
  width: 100%;
  padding: 14px;
  background-color: #28a745;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-pay:hover {
  background-color: #218838;
  transform: translateY(-2px);
}

.order-items {
  display: flex;
  flex-direction: column;

  margin-top: 32px;
  padding-top: 16px;
  border-top: 1px solid #ddd;
}

.items-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #333;
  text-align: center;
}

.item-row {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px dashed #ddd;
  font-size: 16px;
  color: #555;
}

.item-name {
  flex: 1;
}

.item-quantity {
  width: 50px;
  text-align: center;
}

.item-price {
  width: 100px;
  text-align: right;
  color: #222;
  font-weight: bold;
}

.spin-icon {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
  
  
  .slide-in {
    animation: slideIn 0.1s forwards;
  }
  .slide-out {
    animation: slideOut 0.1s forwards;
  }
  
  @keyframes slideIn {
    from { transform: translateX(100%); }
    to   { transform: translateX(0); }
  }
  
  @keyframes slideOut {
    from { transform: translateX(0); }
    to   { transform: translateX(100%); }
  }

  
  .btn-back-product {
    background: rgb(97, 96, 96);
    border: none;

    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
    cursor: pointer;
    justify-content: center;
    color: white;
    border-radius: 8px;
    font-size: 1rem;
    width: 30%;
    
  
  }
  
  .add-product-form h2 {
    margin-bottom: 20px;
    font-size: 1.25rem;
    color: #333;
  }
  
  .add-product-form input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    margin-bottom: 16px;
    outline: none;
    transition: border-color 0.2s;
  }
  
  .add-product-form input:focus {
    border-color: rgb(180, 109, 2);
  }

  .btn-add {
    background-color: rgb(180, 109, 2);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 1rem;
    margin-top: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .btn-add:hover {
    background-color: rgb(150, 90, 0);
  }
  .btn-thanhtoan {
    position: fixed;
    bottom: 92px;
    right: 0;
    left: 0;
    width: 430px;
    height: 40px;
    background: rgb(3, 152, 45);
    color: white;
    border: none;
    padding: 12px 16px;
    border-radius: 10px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    cursor: pointer;
    gap: 8px;
    z-index: 1000;
    
  }
  .btn-left, .btn-center, .btn-right {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-left span {
    margin-left: 4px;
    font-weight: bold;
  }

  .item-controls {
    position: absolute;
 
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 8px;
    background-color: #f7f4f4;
    border-radius: 5px;
  }

  .item-controls button {
    width: 28px;
    height: 28px;
    border: none;
    border-radius: 5px;
    background-color: rgb(70, 180, 2);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
    box-shadow: 1px 1px 0px 0px #333;
  }
  
  .item-controls button:hover {
    background-color: rgb(43, 109, 2);
    box-shadow: 1px 1px 0px 0px #333;
  }
  
  .item-controls span {
    min-width: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
  }
  .page-thanhtoan {
    padding: 20px;
    font-family: sans-serif;
  }
  
  .order-list {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    
  }
  
  .order-item {
    display: flex;
    width: 100%;
    padding: 6px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .item-col-1,.item-col-2,.item-col-3 {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 6px;
  }
  .item-col-2{
    text-align: center;
  }
  .item-col-3{
    text-align: end;
  }
  
  .order-total {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .order-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
  }
  .button-actions {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    gap: 16px;
  }

    .order-note-section,
    .order-payment-method,
    .order-prepaid,
    .order-guest {
      margin: 10px 0;
      display: flex;
      flex-direction: column;
    }

    .order-note-input,
    .payment-method-select,
    .prepaid-input,
    .guest-select {
      padding: 8px;
      border-radius: 6px;
      border: 1px solid #ccc;
      font-size: 1rem;
    }
  
  .btn-back, .btn-confirm {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    width: 50%;
    height: 50px;
    cursor: pointer;
    justify-content: center;
    color: white;
  }
  
  .btn-back {
    background-color: #858383;

  }
  
  .btn-confirm {
    background-color: rgb(180, 109, 2);
    
    
  }
  /* select day */
  

  /* page thu chi */
  .page-thuchi{

    display: flex;
    flex-direction: column;
    padding: 10px;
    .tc-filter-wapper{
    overflow-x: auto;
      &::-webkit-scrollbar {
        display: none;
    }

    /* Ẩn scrollbar trên Firefox */
    scrollbar-width: none;

    /* Ẩn scrollbar trên IE, Edge cũ */
    -ms-overflow-style: none;
    display: flex;
    justify-content: space-between;
    gap: 10px;

      .tc-select-day,
      .tc-select-payment,
      .tc-select-transaction{
        padding: 8px;
        font-size: 16px;
        border-radius: 16px;
        border: 1px solid #ccc;
        text-align: center;
      }
      
    }
  
    .btn-thu-chi{
      position: fixed;
      bottom: 100px;
      right: 0;
      left: 0;
      display: flex;
      justify-content: space-between;
      width: 430px;
      padding-left: 30px;
      padding-right: 30px;
      gap: 20px;
      button{
        width: 50%;
        height: 40px;
        border-radius: 5px;
        border: none;
        
      }
    }

    .tc-filter-wapper::-webkit-scrollbar{
      display: none;
    }
    .tc-showfilter{
      display: flex;
      flex-direction: column;
   
      .tc-sodu{
        display: flex;
        justify-content: space-between;
       
        margin-top: 10px;
        
      }
      .tc-tongthuchi{
        display: flex;
        justify-content: space-between;
        gap: 15px;
        margin-top: 10px;
        font-weight: bold;
        .tc-tongthu{
          width: 50%;
          height: 100px;
          
          background-color: rgba(80, 143, 2,0.3);
          border-radius: 10px;
          line-height: 50px;
          text-align: center;
       /*    i{
            font-size: 1.5rem;
            color: rgb(41, 82, 3);
            text-shadow: black;
            position: absolute;
            right: 163px;
       
          } */
          h1{
            color: rgb(41, 82, 3);
           text-shadow: 1px black;
          }
        }
        .tc-tongchi{
    
          flex-direction: column;
          width: 50%;
          height: 100px;
          background-color: rgba(143, 94, 2,0.3);
          border-radius: 10px;
           line-height: 50px;
          text-align: center;

          h1{
            color: rgb(202, 74, 5);
           text-shadow: 1px black;
          }
        }
      }
      .tc-today{
       
        width: 100%;
        
        margin-top: 10px;
       
     
        text-align: center;
        justify-content: center;
        line-height: 50px;
        .tc-today-text{
          background-color: #85838389;
          border-radius: 10px;
          height: 50px;
          display: flex;
          justify-content: space-between;
          padding-left: 10px;
          padding-right: 10px;
          color: #161616;
        }
      }
      .tc-yesterday{
        display: flex;
        flex-direction: column;
        width: 100%;
       
        margin-top: 10px;
     
        border-radius: 5px;
        text-align: center;
        justify-content: center;
        line-height: 50px;
        .tc-yesterday-text{
          background-color: #85838389;
          border-radius: 10px;
          height: 50px;
          display: flex;
          justify-content: space-between;
          padding-left: 10px;
          padding-right: 10px;
          color: #161616;
        }
      }
      .item-thuchi{
        display: flex;
        width: 100%;
        height: 115px;
      
        
        
        i {
          width: 10%;
       
        }
        .item-thuchi-action{
        
          display: flex;
          flex-direction: column;
          width: 90%;
          box-sizing: border-box; 
          border-bottom: solid 1px #333 ;
          
          .item-thuchi-name-price{
            display: flex;
            justify-content: space-between;
            padding-left: 5px;
            padding-right: 5px;
            height: 30%;
            

          }
          .item-thuchi-pay-time{
            display: flex;
            justify-content: space-between;
            padding-left: 5px;
            padding-right: 5px;
            height: 30%;
            
          }
          .item-thuchi-des{
            display: flex;
            justify-content: space-between;
            padding-left: 5px;
            padding-right: 5px;
            text-align: start;
            height: 30%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
         
          }

          .green {
            color: rgb(5, 132, 5);
          }
          .orange {
            color: rgb(206, 90, 7);
          }
        }
      }
    }
  }

 /*  page So No */
 .page-sono{
   display: flex;
    flex-direction: column;
    padding: 10px;
    .sono-phaithu{
      gap: 20px;
      padding-top: 20px;
      padding-left: 30px;
      padding-right: 30px;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 150px;
      background-color: rgba(3, 152, 13, 0.541);
      border-radius: 10px;
      justify-content: start;
      text-align: start;
    }
    .sono-list-kh{
      padding-top: 20px;

      display: flex;
      flex-direction: column;
      overflow-y: auto;
      justify-content: center;
      text-align: center;
         &::-webkit-scrollbar {
        display: none;
    }

    /* Ẩn scrollbar trên Firefox */
    scrollbar-width: none;

    /* Ẩn scrollbar trên IE, Edge cũ */
    -ms-overflow-style: none;
      .item-sono{
        display: flex;
        flex-direction: column;
        height: 80px;
        border-bottom: solid 1px rgb(134, 132, 132);
        margin-top: 10px;
     
      justify-content: center;
        .item-sono-top , .item-sono-bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;

          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }
 }

  /*  tạo khoản thu */
  .tao-khoan-thu {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 24px;
    max-width: 400px;
      z-index: 1000;
    margin: 40px auto;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .tao-khoan-thu h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
   
  }
  
  .form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 6px;
    color: #444;
  }
  
  .input {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    box-sizing: border-box;
  }
  
  .input:focus {
    border-color: #3182ce;
    box-shadow: 0 0 0 1px #3182ce;
  }
  
  textarea.input {
    resize: none;
  }
  
  .form-actions {
    margin-top: 20px;
  }
  
  .btn-save, .btn-back-kt {
    padding: 10px 16px;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 50%;
    
  }
  
  .btn-save {
    background-color: rgb(55, 143, 5);
    color: white;
  }
  
  .btn-back-kt {
    background-color: #ccc;
    color: black;
  }
  

  
}


  .footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    font-size: 2rem;
    padding: 20px;
    width: 430px;
    height: 90px; /* Ví dụ: 10% của 932px = ~93px */
    background-color: rgb(180, 109, 2);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    i {
      display: block;
      text-align: center;
      justify-content: center;
      align-items: center;
      color: antiquewhite;
    }
    h3 {
      font-size: 0.8rem;
    }
  }

  .Login-Form {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    max-width: 360px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: 'Segoe UI', sans-serif;
    z-index: 10;
    input {
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 16px;
      outline: none;
      transition: border-color 0.2s;
    }
    input:focus {
      border-color: rgb(180, 109, 2);
    }
    button {
      padding: 12px;
      background-color: rgb(180, 109, 2);
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.2s;
      box-shadow: 1px 1px 0px 0px #333;
    }
    button:hover {
      background-color: rgb(109, 66, 1);
      box-shadow: 1px 1px 0px 0px #333;
    }
    p {
      margin: 0;
      font-size: 14px;
      text-align: center;
    }
    
  }

  
  
  /* Thiết lập cho giao diện di động */
  
  
  /* Đảm bảo giao diện mobile vẫn giữ trên các màn hình lớn (PC, tablet) */
  html {
    width: 375px; /* Kích thước của màn hình điện thoại di động chuẩn */
    height: 667px; /* Chiều cao của màn hình điện thoại di động chuẩn */
    overflow: hidden; /* Ngăn cuộn trang */
   /*  border: solid 2px red; */
    background-color: rgb(209, 209, 206);
  }
  
  body {
    width: 375px; /* Kích thước của màn hình điện thoại di động chuẩn */
    height: 667px; /* Chiều cao của màn hình điện thoại di động chuẩn */
  
  }
  #root{
    width: 100%;
    height: 100%;
    margin: 0 auto; /* căn giữa trên màn hình PC nếu muốn */
    position: relative; /* để dùng position tuyệt đối bên trong nếu cần */
  }
  @media (min-width: 360px) {
  
    html ,body {
      width: 360px;
      height: 740px;
    }
    .footer , .header{
      width: 360px;
    }
    .body {
      height: 600px;
      .b-quanly .b-quanly-item{
        width: 100px;
      }
      .b-donhang {
       
        .b-donhang-wapper .b-donhang-bannhanh{
          width: 98px;
        }
        .b-donhang-wapper .b-donhang-item{
          width: 98px;
        }
        .b-donhang-wapper .b-donhang-them{
          width: 98px;
        }
      }
      .btn-thanhtoan,.page-thuchi .btn-thu-chi{
        width: 360px;
      }
     
    }
  
  }
  @media (min-width: 375px) {
  
    html,body {
      width: 375px;
      height: 667px;
    }
    .footer , .header{
      width: 375px;
    }
    .body {
      height: 527px;
      .b-quanly .b-quanly-item{
        width: 103px;
      }
      .b-donhang {
      
        .b-donhang-wapper .b-donhang-bannhanh{
          width: 103px;
        }
        .b-donhang-wapper .b-donhang-item{
          width: 103px;
        }
        .b-donhang-wapper .b-donhang-them{
          width: 103px;
        }
      }
      .btn-thanhtoan,.page-thuchi .btn-thu-chi{
        width: 375px;
      }
    }
    
  }
  @media (min-width: 390px) {
  
    html,body {
      width: 390px;
      height: 844px;
    }
    .footer , .header{
      width: 390px;
    }
    .body {
      height: 704px;
      .b-quanly .b-quanly-item{
        width: 108px;
      }
      .b-donhang {
       
        .b-donhang-wapper .b-donhang-bannhanh{
          width: 108px;
        }
        .b-donhang-wapper .b-donhang-item{
          width: 108px;
        }
        .b-donhang-wapper .b-donhang-them{
          width: 108px;
        }
      }
      .btn-thanhtoan,.page-thuchi .btn-thu-chi{
        width: 390px;
      }
    }
  
  }
  @media (min-width: 412px) {
  
    html,body {
      width: 412px;
      height: 915px;
    }
    .footer , .header{
      width: 412px;
    }
    .body {
      height: 775px;
      .b-quanly .b-quanly-item{
        width: 115px;
      }
      .b-donhang {
       
        .b-donhang-wapper .b-donhang-bannhanh{
          width: 115px;
        }
        .b-donhang-wapper .b-donhang-item{
          width: 115px;
        }
        .b-donhang-wapper .b-donhang-them{
          width: 115px;
        }
      }
      .btn-thanhtoan,.page-thuchi .btn-thu-chi{
        width: 412px;
       
      }
     
    }
  
  }
  @media (min-width: 414px) {
  
    html,body {
      width: 414px;
      height: 896px;
    }
    .footer , .header{
      width: 414px;
    }
    .body {
      height: 756px;
      .b-quanly .b-quanly-item{
        width: 116px;
      }
      .b-donhang{
    
        .b-donhang-wapper .b-donhang-bannhanh{
          width: 116px;
        }
        .b-donhang-wapper .b-donhang-item{
          width: 116px;
        }
        .b-donhang-wapper .b-donhang-them{
          width: 116px;
        }
      }
      
      .btn-thanhtoan,.page-thuchi .btn-thu-chi{
        width: 414px;
       
      }
    }
   
  }
  
  @media (min-width: 430px) {
  
    html,body {
      width: 430px;
      height: 932px;
    }
    .footer , .header{
      width: 430px;
    }
    .body {
      height: 792px;
      .b-quanly .b-quanly-item{
        width: 121px;
      }
      .b-donhang {
     
    
        .b-donhang-wapper .b-donhang-bannhanh{
          width: 121px;
        }
        .b-donhang-wapper .b-donhang-item{
          width: 121px;
        }
        .b-donhang-wapper .b-donhang-them{
          width: 121px;
        }
  
      }
      .btn-thanhtoan ,.page-thuchi .btn-thu-chi{
        width: 430px;
       
      }
     
      
    }
  
  }

  /*   in don hang */
@media print {
  .non-printable {
    display: none !important;
  }

  .print-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}